.body {    font-family: "wf_segoe-ui_normal", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;background-color: #f7f5f5;}
.log_body{background-image:url('../img/glaze-bg.png');
          background-color:#4CAF50;
          background-position: center top;
    padding-left: 0;
    max-width: 360px;
    margin: 5% auto;
    overflow-x: hidden;
}
.login-section {text-align:center;}
.login-section h1 {color: white;
    line-height: 50px;
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 25px;
    text-shadow: 1px 1px 1px black;
    font-weight: 700;}

    .login-section .panel {
        width: 360px;
    height: 270px;
    background-color: #fff;
    }

        .login-section .panel .body-tag {
            padding: 6%;
        }
            .login-section .panel .body-tag p {
                color: #555;
                 margin-bottom: 30px;
                 text-align: center;
                    margin:0;font-size: 14px;           
                    padding-bottom: 12px;
            }
           
.form-group {}
.form-group .input-group{margin: 5%;
    padding: 0%;
    height: 34px;}
.form-group .input-group .input-addon{float: left;
    width: 5%;
    text-align: left;
    margin-right: 4%;}
.form-group .input-group .input-feild{width: 91%;float:left;}
.form-group .input-group .input-feild input[type='text'] {    width: 100%;
    height: 20px;transition: 1s;
    border-bottom: 1px solid #d8d8d8;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;}
    .form-group .input-group .input-addon span {
        font-size: 18px;
    margin-top: 3px;
    color: #3e4c5c;
    }
    .form-group .input-group .input-feild input[type='password'] {    width: 100%;
    height: 20px;transition: 1s;
    border-bottom: 1px solid #d8d8d8;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;}
.login-section .panel .body-tag .btn-log {
    width: 90%;
    background-color: #449b8b;
    border: 0;
    height: 27px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
.form-group .input-group .input-feild input[type='text']:focus {border-left:0px;border-right:0px;border-top:0;
 border-bottom:2px solid #66afe9;
 outline:0;
}
.form-group .input-group .input-feild input[type='password']:focus {border-left:0px;border-right:0px;border-top:0px;
border-bottom:2px solid #66afe9;
outline:0;
}

/*aside */

#aside {width: 0%;margin-top: 50px;   background-color: #051a2f;display:none;transition:1s;position: fixed;height: 100%;left:0;display:none;z-index:999999999;overflow:auto;}
#sec-header {width: 100%;
    text-align: center;    z-index: 999999999;
    vertical-align: middle;
    background-color: #051a2f;
    height: 50px;position: fixed;
    box-shadow: 1px 1px 0px #d2caca;}
#sec-header img#img{position: absolute;top: 6px;left: 70px;width: 33px;}
#sec-header h1{margin: 0;color: white;font-size: 20px;left: 110px;position: absolute;top: 13px;font-weight: normal;padding: 0;line-height: 20px;font-family: 'Crimson Text', serif;}

#sec-header .rigth-log-box {position: absolute;right: 0px;width: 175px;height: 49px;border-left: 1px solid #b4dfe8;top: 0;}
#sec-header .rigth-log-box div.inner {position:relative;}
.rigth-log-box div.inner img#per-img{position: absolute;width: 33px;right: 10px;top: 7px;border-radius: 100px;cursor:pointer;}
.rigth-log-box div.inner .person-name{position: absolute;top: 14px;left: 28px;color: white;line-height: 13px;width: 100px;word-wrap: break-word;font-size: 13px;}
#sec-header #toggle-btn-box span#close{cursor: pointer;color: white;font-size: 32px;display:none;}
#sec-header #toggle-btn-box {}



@keyframes rightSlide{from{width:0%}to{width:15%}}
@keyframes leftSlide{from{width:15%}to{width:0%}}
.show{animation:rightSlide 1s;}
#sec-header #toggle-btn-box {border-right: 1px solid #b4dfe8;width: 54px;height: 48px;position: relative;}
  
#sec-header #toggle-btn-box span#bar div{width: 38%;height: 2px;background-color: white;cursor:pointer}
#sec-header #toggle-btn-box span#bar div.one {position: absolute;top: 18px;left: 13px;}
#sec-header #toggle-btn-box span#bar div.two {position: absolute;top: 24px;left: 13px;}
#sec-header #toggle-btn-box span#bar div.three {position: absolute;top: 30px;left: 13px;}





#accordion {visibility:hidden;}
#accordion ul {padding:0;margin:0;list-style:none;color:white;}
#accordion .top > a, #accordion .top > div { padding-left:16px;padding-top:12px;padding-bottom:12px;font-size:12px;color:white;}
#accordion li li > a, #accordion li li > div {padding-left:30px;padding-top:8px;padding-bottom:8px;font-size:12px;color:white;}
#accordion li li li > a, #accordion li li li > div { padding-left:50px; }
#accordion li > div{ font-size:large;color:white;}
#accordion .active > div{color:orange;}
#accordion li {font-size:13px;padding: 0;margin:0;overflow:hidden;cursor: pointer;}
#accordion a {color:white;font-weight:normal;font-size:13px;text-decoration:none;display:block;line-height:1;transition:all 0.3s;}
#accordion a:hover {color:#ccc;}
#accordion a.active {color:#ddd;background-color:rgba(255,255,255,0.15);font-weight:bold;}
#accordion .caret {color:inherit;float:right;margin-top:8px;margin-right:16px;width: 0;height: 0;overflow:hidden;/*for IE6*/border-style:solid;border-width:6px;
position:relative;border-top:6px solid initial;border-bottom-width:0px;border-left-color:transparent;border-right-color: transparent;}  
#accordion li li .caret {margin-right:6px;float:none;display:inline-block;margin-top:auto;margin-bottom:4px;}  
#accordion .caret.active {margin-bottom:4px;border-bottom-width:6px;border-bottom-color:initial;border-top: none;}
#accordion li {-ms-user-select:none;-mos-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none;}
.main-area-body-box {width:94%;max-width:94%;position:relative;margin:0% 3%;}


/*project tab*/
.box-data-for {border: 1px solid black;text-align:center;transition:1s;cursor:pointer;
    height: 170px;}
.box-data-for  span{font-size: 51px;
    margin-top: 20%;}
.box-data-for h3{line-height: 0;
    font-size: 13px;
    margin-top: 22%;}


.col-md-new {width:14.28%;float:left;}
.col-md-new .container1 .one {background-color: #9ab9bf;
    border: 1px solid #f7f0f0;
    color: snow;}
.col-md-new .container1 .two {background-color: #6cd0da;
    border: 1px solid #fffafa;
    color: snow;}
.col-md-new .container1 .three {    background-color: #daa272;
    border: 1px solid #fbf2f2;
    color: snow;}
.col-md-new .container1 .four {    background-color: #7cd497;
    border: 1px solid #f7f0f0;
    color: snow;}
.col-md-new .container1 .five {background-color: #dc76a5;
    border: 1px solid #fdfdfd;
    color: snow;}
.col-md-new .container1 .six {background-color: #917ece;
    border: 1px solid white;
    color: snow;}

.col-md-new .container1 .seven {background-color: #c57f8f;border: 1px solid white;   color: snow;}
.container1 {padding: 0px 2px;}
.heading-tag {background-color: #c5bfb4;margin-bottom: 2%;    z-index: 999999;margin-top:50px;}
.heading-tag p{padding-left: 3%;color: black;font-size: 13px;}


/*panel main style*/
.second-main-portion {width: 96%;margin: 0% 3%;margin-top: 1%;}
.second-main-portion .left{    width: 42%;float: left;padding: 0px 2px;}
.second-main-portion .left .header p{ background-color:#9ab9bf;margin: 0;color: white;text-align: center; font-size: 12px;}
.second-main-portion .right .header2 p{ background-color: #ea8b8b;margin: 0;color: white;text-align: center;font-size: 12px; }
.second-main-portion .center .header1 p{ background-color: #78b8de;margin: 0;color: white;text-align: center; font-size: 12px;}






.second-main-portion .center{float: left;width: 28%;padding: 0px 2px;}
.second-main-portion .right{float: left;width: 27.7%;padding: 0px 2px;}
.second-main-portion .left .header .panel {    border: 1px solid #9ab9bf;height: 320px;overflow: auto;margin-bottom:10%;}
.second-main-portion .right .header2 .panel {    border: 1px solid #ea8b8b;height: 320px;overflow: hidden;margin-bottom:10%;}
.second-main-portion .center .header1 .panel {    border: 1px solid #78b8de;height: 320px;overflow: auto;margin-bottom:10%;}
.box-data-for:hover {transform:scale(1.1);}

/*calander*/
.cld-main{width: 330px;}
.cld-main a{  color: #333;font-weight: bold;}  
.cld-datetime{position: relative;width: 66%;min-width: 100px;max-width: 300px;margin: auto;overflow: hidden;}
.cld-datetime .today{position: relative;float: left;width: calc(100% - 40px);margin: auto;text-align: center }
.cld-nav{position: relative;width: 20px;height: 20px;margin-top: 2px;}
.cld-nav:hover{cursor: pointer;}
.cld-nav:hover svg{fill: #666;}
.cld-rwd{float: left;}
.cld-fwd{float: right;}
.cld-nav svg:hover{}
.cld-labels, .cld-days{padding-left: 0;}
.cld-label, .cld-day{display: inline-block;width: 14.28%;text-align: center;font-size:12px;padding: 1px;}
.cld-day.today .cld-number{display: inline-block;height: 35px;width: 30px;border-radius: 50px;/* background: #666; *//* color: #fff; */}
.cld-day.disableDay{opacity: 0.5;}
.cld-day.nextMonth, .cld-day.prevMonth{opacity: 0.33;}
.cld-number{position: relative;margin: 5px;padding: 5px;}
.cld-title{position: absolute;z-index: 10;display: none;top: 30px;left: -6px;padding: 5px 10px;background: #fff;white-space:pre-wrap;border: 1px solid #ccc;border-radius: 5px;
font-size: 12px;}
.cld-number:hover .cld-title{display: block;}
.cld-title::before{content: '';position: absolute;top: -7.5px; left: 7.5px;width: 0;height: 0;border-left: 7.5px solid transparent;border-right: 7.5px solid transparent;
border-bottom: 7.5px solid #ccc;}
.cld-number.eventday{display: inline-block;height: 20px;width: 31px;border-radius: 50px;border: 1px solid #999;height: 34px;top: 3px;}
.cld-number.eventday:hover{cursor: pointer;background: red;}
.today .cld-number.eventday:hover{background: #888;}
#caleandar {    padding-left: 3%;}
table.task-tag {border-collapse:collapse;margin: 0% 5%;width: 90%;}
table.task-tag tbody tr{border-bottom: 1px solid #d6e7f1;border-radius: 20%;}
table.task-tag tbody tr td{      font-size: 13px;padding: 4px;color: #1e8dd0;}
.style-4::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color: black;}
.style-4::-webkit-scrollbar{width: 4px;height: 5px;background-color: black;}
.style-4::-webkit-scrollbar-thumb{background-color: #78b8de;width: 100px;height:30px;}
.style-5::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color: black;}
.style-5::-webkit-scrollbar{width: 4px;height: 5px;background-color: black;}
.style-5::-webkit-scrollbar-thumb{background-color: #9ab9bf;width: 100px;height:30px;}
.style-6::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color: black;}
.style-6::-webkit-scrollbar{width: 4px;height: 5px;background-color: black;}
.style-6::-webkit-scrollbar-thumb{background-color:#81d7e4;width: 100px;height:30px;}
@media screen and (min-width:320px) and (max-width:480px) {
    .col-md-new {width: 50%;float: left;padding: 3px;}
        .col-md-new:last-child {width:100%;}
        .second-main-portion .left {width: 100%;float: none;padding: 0px 14px;padding-left: 7px;}
        .second-main-portion .center {width: 100%;float: none;padding: 0px 14px;padding-left: 7px;}
        .second-main-portion .right {width: 100%;float: none;padding: 0px 14px;padding-left: 7px;}
        .second-main-portion .left .header .panel {border: 1px solid #9ab9bf;height: auto;overflow: auto;min-height: 64px;margin-bottom: 5%;}
        .second-main-portion .center .header1 .panel {border: 1px solid #78b8de;height: auto;overflow: auto;margin-bottom: 6%;min-height: 64px;}
        .cld-main {width: 100%;max-width: 100%;}
        #caleandar {padding-left: 3%;padding-right: 3%;margin-bottom:6%;}
    #sec-header .rigth-log-box {    width: 150px;}
    .rigth-log-box div.inner .person-name {left:0;}
    #sec-header h1 {font-size:16px;}
    #ptask {margin-top:10%;}
#ptaskh3 {    margin-top: 10%;}

}


table.task-tag tbody tr:nth-child(even) {    background-color: #f9f6fd;}
#footer {width: 100%;max-width: 100%;background-color: #FF9800;height: 20px;position: fixed;bottom: 0;}#footer p {margin: 0;font-size: 10px;line-height: 0;margin-top: 10px;font-weight: 700;padding-left: 3%;color: white;z-index:999999999;}


@media screen and (min-width:481px) and (max-width:768px) {

.col-md-new {width: 25%;float: left;padding: 3px;}
.col-md-new:last-child {width: 50%;float: left;padding: 3px;}
.second-main-portion .left {width: 50%;float: left;padding: 0px 14px;padding-left: 7px;}
.second-main-portion .center {width: 50%;float: left;padding: 0px 14px;padding-left: 7px;}
.second-main-portion .right {width: 100%;float: left;padding: 0px 14px;padding-left: 7px;}
.second-main-portion .left .header .panel {border: 1px solid #9ab9bf;height: auto;overflow: auto;min-height: 100px;margin-bottom: 5%;}
.second-main-portion .center .header1 .panel {border: 1px solid #78b8de;height: auto;overflow: auto;margin-bottom: 6%;min-height: 100px;}
.col-md-12 {width:100%;}
#ptask {margin-top:10%;}
#ptaskh3 {    margin-top: 10%;}
.cld-main {width: 100%;max-width: 100%;}
#caleandar {padding-left: 3%;padding-right: 3%;margin-bottom:6%;}
}

table.app-tag {border-collapse:collapse;margin: 0% 5%;width: 90%;}
table.app-tag tbody tr{border-bottom: 1px solid #cee1e4;border-radius: 20%;}
table.app-tag tbody tr td{font-size: 13px;padding: 4px;color: #429bad;}


@media screen and (min-width:769px) and (max-width:1376px) {
    .cld-main {width: 100%;}
    #caleandar {padding-left: 3%;padding-right: 3%;}

}


table.app-tag tbody tr td:nth-child(2) {background-color: #dc4863;color: white;text-align: center;border-radius: 100%;padding: 1px;}
table.app-tag tbody tr td:nth-child(3) {text-align:right}
table.task-tag tbody tr td:nth-child(2) {background-color: orange;color: white;padding: 1px;border-radius: 100%;text-align: center;}
table.task-tag tbody tr td:nth-child(3) {text-align:right}


/*registration page design*/

.registration {}
.registration .container-3{    width: 600px;margin: 0 auto;}
.registration .container-3 .form-group .input-group .form-control {width:90%;}
.registration .container-3 .form-group .input-group .form-control input{height:26px;border-bottom: 1px solid #e8e4e4;width:100%;font-size: 11px;padding-left: 10px;}
.registration .container-3 .form-group .input-group .form-control select{height:26px;border-bottom: 1px solid #e8e4e4;width:100%;font-size: 11px;padding-left: 10px;}
.registration .container-3 .form-group .input-group  .input-addon {width:2%;}
.registration .container-3 .form-group .input-group .form-control input[type='radio']{width:auto;height:auto;}
.registration .container-3 .form-group .input-group .form-control p {width: auto;display: inline;font-size: 12px;}
.registration .container-3 .form-group .input-group {margin:2%;margin-left:0%;}
.registration .container-3 h2 {margin-bottom: 0%;font-size: 11px;text-align: center;background-color: #c17d42;padding: 5px;color: white;width: 98%;text-transform: uppercase;letter-spacing: 2px;}
.registration .container-3 .top-feaild .form-group .input-group .form-control {width: 96%;}
.registration .container-3 .top-feaild .form-group .input-group .form-control input{width: 100%;    padding-left: 10px;}
.registration .container-3 .top-feaild  .form-group .input-group  .input-addon{width:1%;margin-right:1%;}
.registration .container-3 .top-feaild  .form-group .input-group  .input-addon span{}
.registration .container-3 .top-feaild .form-group .input-group {margin-left:0;}
.registration .container-3 .mybtn {    margin-top: 8%;font-size: 11px;padding: 6px 44px;color: white;background-color: #03A9F4;border:1px solid #03A9F4;}
.registration .container-3 .reset {background-color: white;border: 1px solid #cec1c1;color: black;}
.registration .container-3 .empty-box {height:40px;}
.registration .container-3 .mybtn:hover {box-shadow: 0px 2px 3px -1px #483b3b}
.registration .container-3 .del {background-color: #fd5f5f;border: 1px solid #fd5f5f;}

@media screen and (min-width:320px) and (max-width:480px) {
.registration .container-3 {width: 88%;max-width: 100%;   margin: 0% 7%;}
.registration .container-3 .empty-box {display:none;}
.registration .container-3 h2 {font-size:13px;}
.registration .container-3 .top-feaild .form-group .input-group .form-control {width: 90%;}
.registration .container-3 .top-feaild .form-group .input-group .input-addon {width: 2%;margin-right: 4%;}
.registration .container-3 .mybtn {margin-top:0%;}
.registration .container-3 .del {margin-right: 14.1%;width: 72%;}
}
.switch {position: relative;display: inline-block;width: 50px;height: 12px;margin-right: 3%;    float: left;    margin-top: 1.5%;}
.switch input {display:none;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #f19763;-webkit-transition: .4s;transition: .4s;}
.slider:before { position: absolute;content: "";height: 21px;width: 19px;left: 3px;bottom: 3px;top: -5px;background-color: white;-webkit-transition: .4s;transition: .4s;    border: 2px solid #73421e;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
.active-para {    font-size: 10px;margin-right: 3%;font-weight: 700;float: left;line-height: 2;}
.registration .container-3 .form-group .input-group .form-control input[type='radio']:before {}




/*all user details panel design*/
.all-user-panel {position:relative;}
.all-user-panel h2{    font-size: 24px;margin: 0;padding: 0;}
.all-user-panel .user-content-panel-view{width: 80%;margin: 0% 10%;}
.all-user-panel .user-content-panel-view table{    width: 100%;border-collapse: collapse;margin-top: 2%;}
.all-user-panel .user-content-panel-view table thead{}
.all-user-panel .user-content-panel-view table thead tr{background-color: #116931;height:35px;}
.all-user-panel .user-content-panel-view table thead tr th{font-size: 12px;padding: 4px 8px;color: white;text-align:left;}
.all-user-panel .user-content-panel-view table tbody tr{height: 35px;}
.all-user-panel .user-content-panel-view table tbody tr td{font-size: 12px;padding: 4px 8px;color: #116931;font-weight: 600;}
.all-user-panel .user-content-panel-view table tbody tr:nth-child(even) {background-color: #ebe9ef;}
.all-user-panel .left-button-fixed-panel .add{    margin-bottom: 1%;font-size: 11px;background-color: black;color: white;height: 29px;}


@media screen and (max-width:778px) {

    .user-content-panel-view .table-res {overflow:auto;}
     .user-content-panel-view .table-res table{width: 800px;margin-bottom: 5%;}
}

.log-up-body {position:absolute;right: 0px;border: 1px solid #9dd1e4;z-index: 999;width: 175px;background-color: #807777bf; display:none; top: 50px;  border-top: 0;border-bottom: 3px solid;height: 78px;}
.log-up-body ul {width:100%;}
.log-up-body ul li:hover {}
.log-up-body ul li a {    font-size: 12px;color: black;font-weight: 700;}
.log-up-body ul li a:hover {color: #23335a;text-decoration:underline;}
  #sec-header #toggle-btn-box span#bar {color: white;margin-top: 14px;cursor: pointer;font-size: 22px;}

@media screen and (max-width:480px) {
    
    #sec-header {top:0;}

}

/* mettings index panle design  */

@media screen and (min-width:320px) and (max-width:480px) {
    .Mettings-View-index-panel .table-res{overflow:auto;padding-left:2%;}
     .Mettings-View-index-panel .table-res table#mettings-table{margin-top: 5%;margin-left:0;
    margin-bottom: 3%;}
    .all-mettings .container h2 {    margin-top: 5%;
    font-size: 14px;}
}

.Mettings-View-index-panel {}
.Mettings-View-index-panel table#mettings-table{width: 1300px;margin: 0% 2%;    margin-top: 2%;border-collapse: collapse;margin-bottom:1%;}
.Mettings-View-index-panel table#mettings-table thead tr{background-color: #FFC107;    border-bottom: 1px solid #c58817;height: 30px;}
.Mettings-View-index-panel table#mettings-table thead tr th{font-size: 12px;text-align:left;color: #2b2926;padding: 4px 10px;}
.Mettings-View-index-panel table#mettings-table tbody tr{border-bottom: 1px solid #ecdeb2;height: 30px;cursor:pointer;}
.Mettings-View-index-panel table#mettings-table tbody tr td{  font-size: 12px;text-align: left;padding: 4px 10px;color: #5a4215;font-weight: 600;}
.all-mettings h2 {  font-size: 18px;margin-left: 0%;padding-left: 1%;color: black;text-shadow: -1px 0px 0px #d2a51f;letter-spacing: 2px;margin: 0;line-height: 0px;}
.Mettings-View-index-panel table#mettings-table tbody tr td a {color: #095022;text-decoration:underline;}
.Mettings-View-index-panel table#mettings-table tbody tr:hover {background-color: #f1ebe2;}




.meeting-info-panel label.headlable {  text-align:center;  font-size: 18px;font-weight: 700;color: #48433b;letter-spacing:0px;}
.meeting-info-panel label.headlable1 {  text-align:center;  font-size: 18px;font-weight: 700;color: #48433b;letter-spacing:0px;}
.meeting-info-panel label {    font-size: 12px;
    font-weight: 500;
    color: #5a5454;}
.meeting-info-panel span.dometting{  font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: 4%;}
.meeting-info-panel .form-group .input-group .form-control  input{width: 100%;
    height: 25px;color:grey;
    font-size: 11px;
    border-bottom: 1px solid #e0deda;
    border-radius: 4px;
    padding: 0px 10px;
   }
.meeting-info-panel .form-group .input-group .form-control select {width: 100%;
    height: 25px;color:grey;
    font-size: 11px;
    border-bottom: 1px solid #e0deda;
    border-radius: 4px;
    padding: 0px 10px;
}
.meeting-info-panel .form-group .input-group {    margin: 0;margin-top: 2%;
    margin-right: 4%;}
    .meeting-info-panel .form-group .input-group .input-addon {margin: 0;}
        .meeting-info-panel .form-group .input-group .input-addon span {margin-top: 1px;
    color: #051a2f;}

    .meeting-info-panel .form-group  label {font-size: 11px;
    margin-left: 2%;
    z-index: 9999;
    color: #504f4e;
    font-weight: 700;
   
    }


.container4 {margin: 0 auto;
    width: 1000px;
}
.meet-second-panel {margin-top: 1%;}
    .meet-second-panel input[type='text'] {border-left: 0;
    border-top: 0;
    border-right: 0;
    width: 97.6%;color:grey;
    padding: 0px 25px;
    height: 25px;
    border-bottom: 1px solid #e0deda;
    border-radius: 4px;}

.bottompanel-one {margin-top:3%;}
.bottompanel-one .form-group .input-group .form-control{width:90%;}
.bottompanel-one .form-group .input-group .form-control input{ width: 100%;
    margin: 0;
    padding: 0px 12px;
    font-size: 12px;
    height: 25px;
    border-top-left-radius: 4px;
    border: 1px solid #e6d9d9;
    border-top-right-radius: 4px}
.bottompanel-one .form-group .input-group .input-addon{margin:0;}
.bottompanel-one .form-group .input-group .input-addon span{margin:0;}
.bottompanel-one .form-group .input-group {height:20px;}
.bottompanel-one h2 {color: black;
    text-shadow: none;
    font-size: 14px;}
.btn-group .btn {font-size: 12px;
    padding: 4px 32px;
    box-shadow: 1px 1px 3px 0px #d6c9c9;}
.bottompanel-one table {border-collapse: collapse;
    width: 92%;
    margin: 0% 4%;
    margin-top: 5%;}
    .bottompanel-one table thead tr th {font-size: 12px;
    padding: 4px 10px;
    text-align: left;}
     .bottompanel-one table tbody tr td {font-size: 12px;
    padding: 4px 10px;
    text-align: left;}
    .bottompanel-one table thead tr {background-color: #d3d9e0;
    }
    .bottompanel-one table tbody tr:nth-child(even) {    background-color: #eae8e3;
    }
.conclution-panel {margin-bottom:10%;margin-top:3%;}
    .conclution-panel input[type='text'] {width: 98%;font-size:12px;padding:0px 8px;border: 1px solid #e4d8d8;}
     .conclution-panel input[type='date'] {width: 99%;font-size:12px;padding:0px 8px;border: 1px solid #e4d8d8;}
       .conclution-panel select {width: 99%;border: 1px solid #e4d8d8;}
       .conclution-panel label{font-size: 12px;
    font-weight: 700;}
    .conclution-panel .conclu-text {height:35px;width:99%;border: 1px solid #e4d8d8;
    }
     .conclution-panel input[type='button'] {    border: 0;
    font-size: 11px;
    padding: 4px 32px;
    margin-top: 5%;
    box-shadow: 0px 0px 2px 1px black;
    background-color: #e8bd6e;
    }

#addmeeingsbtn {margin-left: 2%;
    background-color: #dcbb7f;
    color: black;
    font-size: 12px;
    box-shadow: 0px 1px 1px 0px black;}


 .conclution-panel input[type='button'].submit {   border: 0;
    font-size: 11px;
    padding: 4px 32px;
    margin-top: 5%;
    box-shadow: 0px 0px 1px 1px #716b6b;
    background-color: #f7edf4;
    }