<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration-</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootsnip.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet"/>
      <script src="js/float-panel.js"></script>
    <script src="js/accordion-menu.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
</head>
<body class="body style-6"><!-- body tag start -->
   <!-- globle header for comman start --> 

    <header id="sec-header">
        <div id="toggle-btn-box">
                <span id="bar" class="fa fa-bars" >
                   <!-- <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>-->
                </span>
            <span id="close">&times</span>
        </div>
        <img src="img/galway_logo.png" alt="logo" id="img"/>
        <h1>Secratory App</h1>
        <div class="rigth-log-box">

            <div class="inner">
                        <p class="person-name">vishal rathour</p>
                        <img src="img/person.png" alt="person image" id="per-img" class="log-popup"/>

            </div>

        </div>
         <div class="log-up-body">
           <ul>
               <li><a href="#">Profile</a></li>
                <li><a href="#">Setting</a></li>
                <li><a href="#">LogOut</a></li>
           </ul>
        </div>
    </header>

    <aside class="aside-left" id="aside">
                <div id="accordion">
                    <ul>
                        <li>
                            <div>Registration</div>
                            <ul>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="?12">Dolor sit</a></li>
                                <li>
                                    <div>Commodo Rhoncus</div>
                                    <ul>
                                        <li><a href="demo.html">Current</a></li>
                                        <li><a href="?132">Consectetur</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>Quis Porttitor</div>
                            <ul>
                                <li><a href="?21">Finibus Bonorum</a></li>
                                <li><a href="?22">Sed ut</a></li>
                                <li><a href="?23">Neque porro</a></li>
                            </ul>
                        </li>
                        <li>
                            <div>Odio Ac</div>
                            <ul>
                                <li><a href="?31">Minima veniam</a></li>
                                <li><a href="?32">Voluptate velit</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="?4">Sapien quam</a>
                        </li>
                    </ul>
                </div>
    </aside>

    <!-- user View design page start -->
    <div class="col-md-12 heading-tag"><p><span class="fa fa-home" ></span>&nbsp;Home / Users</p></div>
    <div class="col-md-12 all-mettings">
        <div class="Mettings-View-index-panel">
            <!-- info form start--> 

                            <div class=" meeting-info-panel">
                                <div class="container4">
                                
                                <div class="col-md-4">
                                                        <div class="form-group">
                                                                  <label>Preview Metting Date</label>
                                                                        <div class="input-group">
                                                                    
                                                                            <div class="form-control"><input type="date" title="Prev Meeting Date" /></div>
                                                                        </div>
                                                            </div>
                                                           
                                </div>
                                <div class="col-md-4">
                                         <div class="form-group">
                                                             <label>Next Metting Date</label>
                                                                <div class="input-group">
                                                                    
                                                                    <div class="form-control"><input type="date" title="Next Meeting Date" /></div>
                                                                </div>
                                                            </div>
                                </div>
                                <div class="col-md-4">

                                      <div class="form-group">
                                                             <label>Self Seating</label>
                                                                <div class="input-group">
                                                                    <div class="form-control"><select>
                                                                        <option value="Yes"> Yes</option><option value="No"> No</option>
                                                                                              </select></div>
                                                                </div>
                                                            </div>
                                </div>
                                 <div class="col-md-4">

                                      <div class="form-group">
                                                                  <label>Confidentiality</label>
                                                                        <div class="input-group">
                                                                    
                                                                            <div class="form-control"><select><option>Select Confidentiality</option>
                                                                                <option value="Gen">Gen</option>
                                                                                 <option value="Med">Med</option>
                                                                                 <option value="Top">Top</option>
                                                                                                      </select></div>
                                                                        </div>
                                                            </div>
                                                
                                  </div>
                                    <!-- end col-md-4 column -->

                                </div>
                            </div>
                        <!-- next second panel start --->
                        <div class="col-md-12 meet-second-panel">
                            <div class="container4">
                                        <div class="col-md-4">
                                            <label>Agenda of metting :</label>

                                        </div>
                                         <div class="col-md-8">
                                             <input type="text" placeholder="Ajenda of metting" />
                                        </div>
                                </div>
                       </div>
              
                          <!-- next second panel end --->
                        <div class="clear"></div>
                        <div class="col-md-12 bottompanel-one">
                            <div class="container4">
                                                 <div class="tab">
                                                         <button class="tablinks active " onclick="openTabs(event, 'one')">Present Participate</button>
                                                         <button class="tablinks " onclick="openTabs(event, 'two')">Absent Participate</button>
                                                 </div>
                                                 <div id="one" class="tabcontent" style="display:block;">
                                                     <h3>Present Participate</h3>
                                                     <div class="col-md-2">
                                                             <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-addon"><span class="fa fa-building-o" ></span></div>
                                                                    <div class="form-control"><input type="text" placeholder="Department"  /></div>
                                                                </div>
                                                        </div>
                                                     </div> 
                                                     <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-addon"><span class="fa fa-user-o" ></span></div>
                                                                    <div class="form-control"><input type="text" placeholder="Employee"  /></div>
                                                                </div>
                                                        </div>
                                                     </div>  
                                                     <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-addon"><span class="fa fa-edit" ></span></div>
                                                                    <div class="form-control"><input type="text" placeholder="Name"  /></div>
                                                                </div>
                                                        </div>
                                                     </div>  
                                                     <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-addon"><span class="fa fa-envelope-o" ></span></div>
                                                                    <div class="form-control"><input type="text" placeholder="Email Id"  /></div>
                                                                </div>
                                                        </div>
                                                     </div>  
                                                     <div class="col-md-2">
                                                            <div class="btn-group margin-top" style="text-align:center">
                                                                    <a  href="#" class="btn-primary btn"  >Save</a>&nbsp;&nbsp;
                                                                    <a  href="#" class=" btn btn-eror  "  >Reset</a>
                                                            </div>
                                                     </div>    

                                                 </div>
                                                 <div id="two" class="tabcontent">
                                                      <h3>Absent Participate</h3>
                                                        <div class="col-md-2">
                                                             <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-addon"><span class="fa fa-building-o" ></span></div>
                                                                    <div class="form-control"><input type="text" placeholder="Department"  /></div>
                                                                </div>
                                                        </div>
                                                     </div> 
                                                     <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-addon"><span class="fa fa-user-o" ></span></div>
                                                                    <div class="form-control"><input type="text" placeholder="Employee"  /></div>
                                                                </div>
                                                        </div>
                                                     </div>  
                                                     <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-addon"><span class="fa fa-edit" ></span></div>
                                                                    <div class="form-control"><input type="text" placeholder="Name"  /></div>
                                                                </div>
                                                        </div>
                                                     </div>  
                                                     <div class="col-md-2">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-addon"><span class="fa fa-envelope-o" ></span></div>
                                                                    <div class="form-control"><input type="text" placeholder="Email Id"  /></div>
                                                                </div>
                                                        </div>
                                                     </div>  
                                                     <div class="col-md-2">
                                                            <div class="btn-group margin-top" style="text-align:center">
                                                                    <a  href="#" class="btn-primary btn"  >Save</a>&nbsp;&nbsp;
                                                                    <a  href="#" class=" btn btn-eror  "  >Reset</a>
                                                            </div>
                                                     </div>    
                                                 </div>
                                        </div>
                              
                            </div>
                        <!-- tabs end -->
                        <!-- bottom panel end -->
                            <div class="col-md-12 conclution-panel"><!-- conclution panel start -->
                                 <div class="container4">
                               <div class="col-md-6">
                                        
                                    <div class="conclution-body">
                                            <div class="canclution-inner-body">
                                                 <div class="body-input-tabs">
                                                    <div class="col-md-3">  <label>Conclusion of Meeting : </label></div>
                                                      <div class="col-md-9"><textarea class="conclu-text"   ></textarea></div>
                                                 </div>
                                                <div class="body-input-tabs">
                                                     <div class="col-md-3"> <label>Conclusion Type : </label></div>
                                                      <div class="col-md-9"><select id="">
                                                          <option>Minute</option><option>decision</option><option>reminder</option><option>Appointment/Quick Work/Periodic/Project/othe</option>

                                                       </select></div>
                                                 </div>
                                                <div class="body-input-tabs">
                                                    <div class="col-md-3"> <label>Delegate To : </label></div>
                                                     <div class="col-md-3"> <input type="text"  placeholder="Department"/></div>
                                                      <div class="col-md-3"><input type="text"  placeholder="Employee"/></div>
                                                 </div>
                                                 <div class="body-input-tabs">
                                                     <div class="col-md-3"> <label>Target Date : </label></div>
                                                      <div class="col-md-9"><input type="date" /></div>
                                                 </div>
                                                 <div class="body-input-tabs">
                                                     <div class="col-md-3"> </div>
                                                      <div class="col-md-9">
                                                          <input type="button" value="Add"  title="Add New Conclusion"/>&nbsp;&nbsp;
                                                          <input type="button" value="Submit" class="submit"  title="Submit"/>
                                                      </div>
                                                 </div>
                                            </div>
                                    </div>
                                
                                   <div class="col-md-6"></div>
                               </div>
                                     </div>
                            </div><!-- conclution panel end -->
           



               </div>
        </div>
        
     <br /><br /><br />
    <div style="height:50px;"></div>
    <footer id="footer">
        <p>&copy; Copyright By Glaze India Pvt. Ltd.</p>
    </footer>


     <!-- globle header for comman end --> 
    <script>
        $(document).ready(function () {
            $('#aside').css('width', '20%');
            $('#sec-header #toggle-btn-box span#bar').click(function () {
                $('#sec-header #toggle-btn-box span#bar').hide();
                $('#sec-header #toggle-btn-box span#close').show();
                if ($(window).width() < 769) {
                    $('#aside').css('width', '70%').show().addClass('show');
                }
                else { $('#aside').css('width', '20%').show().addClass('show'); }
            });

            $('#sec-header #toggle-btn-box span#close').click(function () {
                $('#sec-header #toggle-btn-box span#bar ').show();
                $('#sec-header #toggle-btn-box span#close').hide();

                $('#aside').css('width', '0%');


            });
            $('.log-popup').on('click', function () {
                $('.log-up-body').toggle('slow');

            });
           

        });
        function openTabs(evt, Name) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(Name).style.display = "block";
            evt.currentTarget.className += " active";

        }
    </script>
     <script type="text/javascript" src="js/caleandar.js"></script>
    <script type="text/javascript" src="js/demo.js"></script>
</body>
</html>
